<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="Masraflar">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/masraflardb</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">compeng</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<mapping resource="Personel.hbm.xml"/>
		<mapping resource="PersonelMasraf.hbm.xml"/>
		<mapping resource="PersonelMasrafDetay.hbm.xml"/>
		<mapping resource="RefMasraf.hbm.xml"/>
		<mapping resource="Yetki.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
